@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 50% 98%;
    --foreground: 240 10% 3.9%;
    --card: 30 33% 95%;
    --card-foreground: 240 10% 3.9%;
    --popover: 30 33% 95%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 0 63% 44%; /* Festive Red */
    --primary-foreground: 0 0% 100%;
    --secondary: 135 44% 92%;
    --secondary-foreground: 136 51% 20%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 136 51% 30%; /* Festive Green */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 30 20% 88%;
    --input: 30 20% 88%;
    --ring: 0 63% 44%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 4% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 4% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 63% 50%; /* Festive Red */
    --primary-foreground: 0 0% 100%;
    --secondary: 135 20% 20%;
    --secondary-foreground: 135 40% 90%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 136 60% 40%; /* Festive Green */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 0 63% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
